.header {
  background: $dark-blue;
  color: $off-white;
  margin-bottom: $m-size;
  padding: $m-size 0;
  text-align: center;
}

// BEM Block element modifier
.header__title {
  font-family: 'EB Garamond' serif;
  font-size: $m-size;
  font-weight: lighter;
  letter-spacing: 4px;
}

.header__subtitle {
  font-size: $s-size;
  font-weight: 500;
  color: $off-white;
  letter-spacing: 3px;
}

@media (min-width: $desktop-breakpoint) {
  .header {
    margin-bottom: $xl-size;
  }
}
