// Colors
$off-black: #20222b;
$off-white: whitesmoke;
$off-green: rgb(3, 150, 150);
$dark-blue: rgb(87, 112, 125);
$mid-blue: #4b5868;
$light-green: #95f0c1;
$darker-blue: #39424c;

// Font-sizes
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
